.yearList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: .75rem;
  align-items: center;
  padding: 0;
  margin: 0;
}

.itemSelectButton {
  all: unset;
  font-size: 1rem;
  padding: 0.6rem;
  height: fit-content;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #f1f1f1;
  border-radius: 4px;
}